/requirements_windows.txt
/venv
/uploads
/ads/__pycache__
/ads/migrations/__pycache__
/documentaryapi/__pycache__
/features/__pycache__
/features/migrations/__pycache__
/userapp/__pycache__
/userapp/migrations/__pycache__
/videoapp/__pycache__
/videoapp/migrations/__pycache__
/address/__pycache__
/address/migrations/__pycache__
/authentication/__pycache__
/authentication/migrations/__pycache__
/banner/__pycache__
/banner/migrations/__pycache__
/booking/__pycache__
/booking/migrations/__pycache__
/cart/__pycache__
/cart/migrations/__pycache__
/category/__pycache__
/category/migrations/__pycache__
/other/__pycache__
/other/migrations/__pycache__
/parmission/__pycache__
/parmission/migrations/__pycache__
/pos/__pycache__
/pos/migrations/__pycache__
/product/__pycache__
/product/migrations/__pycache__
/service/__pycache__
/service/migrations/__pycache__
/shop/__pycache__
/shop/migrations/__pycache__
/userDetails/__pycache__
/userDetails/migrations/__pycache__
/wallet/__pycache__
/wallet/migrations/__pycache__
/checkout/__pycache__
/checkout/migrations/__pycache__
/ecom/__pycache__
